body
{
  /* gris flat */
  background-color: rgb(72, 84, 96);
  color: white;
}

/* Gros titres */

h1 { 
  /* color: rgb(52, 172, 224);  */
  color: #2bcbba;
  font-family: 'Raleway',sans-serif; 
  font-size: 20px; 
  font-weight: 400; 
  line-height: 10px; 
  margin: 12px 0 12px; 
  text-align: left; 
  display: inline
  /* text-transform: uppercase;  */
}


h2 { 
  /* color: rgb(52, 172, 224);  */
  color: white;
  font-family: 'Raleway',sans-serif; 
  font-size: 40px; 
  font-weight: 800; 
  line-height: 72px; 
  margin: 0 0 24px; 
  text-align: left; 
  text-transform: uppercase; 

}

div {
  color: white;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li.item a {
  color: white;
}

/* Liens pas visités*/
a:link {
  color: white;
}

/* Pour la pagination */
a.page {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  /* width: 50px;
  height: 50px; */
  transition: background-color .3s;
  border-radius: 5px;
  border: 1px rgb(52, 172, 224);
  
}

/* Quand on passe la souris sur un numéro de page */
a.page:hover:not(.active) {
  background-color: #2bcbba;
}

/* Numéro de page sur lequel on se trouve */
a.active {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #2bcbba;
  color: white;
  border-radius: 5px;
}

/* Messages d'erreurs */
p.error {
  display: inline-block;
  color: white;
  background-color: rgb(252, 92, 101);
}

/* Messages de succès */
p.success {
  display: inline-block;
  color: white;
  background-color: rgb(38, 222, 129);
}

/* Pour colorier les prix */
mark.price {
  color: #fed330;
  background: none;
}

#logo
{
  min-width: 150px;
  min-height: 50px;
  max-width: 150px;
  max-height: 50px;
}

.text_menu
{
  color: white;
}

/* Quand on passe la souris sur les liens du menu */
a.menu:hover {
  display: inline-block;
  border-radius: 15px;
  /* padding: 4px 10px; */
  padding: 5px;
  transition-duration: 0.4s;
  background-color: rgb(52, 172, 224);
}

/* a.menu {
  position:fixed;
} */

/* Quand on passe la souris sur les éléments d'une liste */
li.item a:hover {

  border-radius: 15px;
  box-shadow: 0px 0px 100px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
  background-color: rgb(52, 172, 224);
}

/* Décalage vers la droite des listes */
li.item {
  list-style:none;
  padding-left: 160px;
}

/* Box arrondi pour englober un texte */
.rcorners { 

  border-radius: 15px;
  background: rgba(16, 13, 13, 0.193);
  padding: 15px;
  /* width:1200px;
  height:20px; */
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1); 
  text-align: left;
    
} 

.corner1 {
  width:1200px;
  height:20px;
}

.corner2 {
  width: 1200px;
  height: 30px;
}

/* Boutons */
.button {
  background-color: rgb(72, 84, 96); /* Green */
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  border-radius: 10px;
  background-color: rgb(72, 84, 96); 
  color: white; 
  border: 2px solid #008CBA;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}

nav ul
{
  overflow: hidden;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(16, 13, 13, 0.193);
  height: 80px;
}

nav li
{
  z-index: 100;
  margin-right: 40px;
}


#search
{
  display: flex;
  justify-content: center;
  
}

/* Formulaires */

.form {
  border-radius: 12px;
  display:block;
  padding: 10px 20px;
  width: 25%;
  border: 5px solid rgba(16, 13, 13, 0.193);
}

input[type=text], input[type="password"], input[type="email"] {
  border-radius: 12px;
  padding: 5px 15px;
  padding-right: 100px;
  border: 1px solid #008CBA;
  width: 100px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

input[type=text]:focus, input[type="password"]:focus, input[type="email"]:focus {
  width: 250px;
  background-color: lightblue;
}

/* Bouton pour valider le formulaire */
input[type=submit] {
  color: black;
  padding:5px 15px; 
  background:white; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  border-radius: 5px; 
  
}

input[type=submit]:hover{
  background-color: lightblue;
}

select{
  border-radius: 10px;
  padding: 5px 15px;
  /* border: 1px solid #008CBA; */
  width: 100px;
  -webkit-appearance: button;
}

/* Tableaux */
table, td, th {    
  border: 1px solid rgba(16, 13, 13, 0.193);
  text-align: left;
}

table {
  border-collapse: separate;
  border-spacing: 0; 
  border: 4px solid rgba(16, 13, 13, 0.193);
  border-radius: 1em;
  overflow: hidden;
}

th, td {
  padding: 20px;
  padding-right: 80px;
}

th {
  color: #2bcbba;
}

.section
{
  display: flex;
  flex-direction: column;
}

.ParentSearch
{
  display: flex;
  justify-content: space-around;
}

.resulatDeRecherche
{
  margin-left: 20px;
  margin-top: 20px;
  padding-left: 10px;
  border: 2px #f4b042;
  border-style: inset;
  background-color: white;
}